.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter {
    padding: 10px 15px;
    color: #469597;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
}

.active {
    padding: 9px 14px 10px 14px;
    border: 1px solid #469597;
    border-bottom: none;
}

.filters button {
    background: none;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    padding: 9px 14px;
    border: 1px solid #469597;
}